    /*https://bootswatch.com/solar/*/
    /*table CSS*/
.rTable {
  	display: block;
  	width: 70%;
      margin-left:30px;
      margin-top:50px;
}
.rTableHeading, .rTableBody, .rTableFoot, .rTableRow{
  	clear: both;
}
.rTableHead, .rTableFoot{
  	background-color: #DDD;
  	font-weight: bold;
}
.rTableCell, .rTableHead {
  	border: 1px solid #999999;
  	float: left;
  	height: 37px;
  	overflow: hidden;
  	padding: 3px 1.8%;
  	width: 40%;
}
.rTable:after {
  	visibility: hidden;
  	display: block;
  	font-size: 0;
  	content: " ";
  	clear: both;
  	height: 0;
}

.facetLabel {
    text-align:right;
}

.mrzRow
{
    padding-top:20px;
}

html, body {
  height: 100%;
}

.jumbotron.vertical-center {
  margin-bottom: 0; /* Remove the default bottom margin of .jumbotron */
}

.vertical-center {
  min-height: 100%;  /* Fallback for vh unit */
  min-height: 70vh; 

  /* Make it a flex container */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; 
  
  /* Align the bootstrap's container vertically */
    -webkit-box-align : center;
  -webkit-align-items : center;
       -moz-box-align : center;
       -ms-flex-align : center;
          align-items : center;
  
  /* In legacy web browsers such as Firefox 9
     we need to specify the width of the flex container */
  width: 100%;

         -webkit-box-pack : center;
            -moz-box-pack : center;
            -ms-flex-pack : center;
  -webkit-justify-content : center;
          justify-content : center;
}

.divAction
{
    padding-top:20px;
}

.divInput{
    text-align:left;
}

.containerMRZ input{
    float:left;
}

#panelError{
    text-align:left;
    width:100%;
}

.divTick
{
    background: url('../img/icon_tick.png') center no-repeat;
}

.divCross
{
    background: url('../img/icon_cross.png') center no-repeat;
}

.legendResult
{
    width:20px;
    height:20px;
    float:left;
    margin-right:5px;
}

#panelStatistic
{
    margin-top:20px;
}


/* Datetime Picker */

.input-append .add-on:last-child
 {
  -webkit-border-radius: 0 4px 4px 0;
     -moz-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0;
}


.input-append .add-on,
{
  margin-left: -1px;
}

.input-append .add-on,
.input-prepend .add-on {
  display: inline-block;
  width: auto;
  height: 30px;
  min-width: 16px;
  padding: 4px 5px;
  font-size: 14px;
  font-weight: normal;
  line-height: 22px;
  text-align: center;
  text-shadow: 0 1px 0 #ffffff;
  background-color: #eeeeee;
  border: 1px solid #ccc;
}

@-moz-document url-prefix() {
    .input-append .add-on,
    .input-prepend .add-on {
        height: 29px;
        line-height: 20px;
    }
}
 
[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-top: 1px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("https://www.malot.fr/bootstrap-datetimepicker/img/glyphicons-halflings.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .input-append .add-on,
    .input-prepend .add-on {
        height: 25px;
        line-height: 20px;
    }

    [class^="icon-"],
    [class*=" icon-"] {
        margin-top: 0px;
    }
}

.icon-th {
  background-position: -240px 0;
}

.iconTHDOB,
.iconTHDOE
{
    cursor:pointer;
}

.input-append.date .add-on i,
.input-prepend.date .add-on i,
.input-group.date .input-group-addon span {
    cursor: pointer;
    width: 14px;
    height: 14px;
}

.datetimepicker{
    border-color: #FFFFFF;
}

